/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header{
	display: flex;
	flex-direction: column;
}
#Admintoolbarhide {
	visibility: hidden;
}
#Admintoolbar {
	visibility: visible;
	width: 100%;
	height: 59px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

#headbase {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 150px
}

#savechange {
	color: black;
	background-color: white;
	border: none;

}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
main {
	margin: 0px 150px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#profilpicture {
	display: block;
	margin: auto;
	width: 80%;
	margin-bottom: 15px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	margin-top: 15px;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: flex;
    align-items: center;
    justify-content: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#log {
	padding-top: 100px;
	padding-bottom: 200px;
}

#contact , #log  {
	width: 50%;
	margin: auto;
}
#contact > * , #log > * {
	text-align: center;

}
#contact h2, #log h2{
	margin-bottom: 20px;
}
#contact form , #log form , #modalajoutimage form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#modalajoutimage form {
	width: 80%;
}

#contact input , #log input , #modalajoutimage input,#modalajoutimage select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label , #log label  , #modalajoutimage label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
footer {
	margin: 50px 150px;
}

#filtres
{
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}
button , #ajout
{
	font-family: 'Syne';
display: flex;
justify-content: center;
align-items: center;
color: #1D6154;
border: 1px solid #1D6154;
border-radius: 60px; 
background-color: unset;
margin-left: 1em;
padding: 1em;
height: 37px;
min-width: 75px;

}

.active {
	color: white;
	background-color:#1D6154;
}

.buttonmodifier {
	border: none;
	color: black;
	align-items: flex-start;
}

.icon{
	height: 15px;
	width: auto;
}

a {
	color: black;
	outline: none;
	text-decoration: none;
}
#lienmodal1 {

margin-left: 57px;
}
#lienmodal2 {
	margin-left: 0;
}
#titleportfolio {
	display: flex;
	justify-content: center;
	align-items: center;
}
#titleportfolio a {
	margin-left: 1em;
	margin-bottom: 2em;
}

/*section style de la modal*/
.modal{
    position: fixed;
    width: 100%;
	max-width: 1440px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalwrapeur{
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 630px;
    max-width: calc(100vw - 20px);
    min-height: 731px;
    padding: 20px;
    align-items: center;

}
.gallerymodal {
    margin: 1%;
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:2%;
	grid-row-gap: 1%;
	
}
.gallerymodal figure {
	position: relative;
}

.gallerymodal i {
	color: white;
    background-color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;    
	position: absolute;
    top: 0;
    right: 0;
}

.gallerymodal img {
    width: 100%;
}

.close::before {
	content: "X";
	font-size: initial;	
}

.close {
	align-self: flex-end;
	font-size: 0;
	border: none;
	color: black;
}
.return {
	border: none;
	color: black;
    margin-bottom: 0;
    height: 37px;
    min-width: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titlemodal {
	font-size: 26px;
	font-family: 'Work Sans';
	margin-bottom: 1em;
}
hr {
	border: none;
    border-bottom: 2px solid #B3B3B3;
    color: #B3B3B3;
    overflow: visible;
    text-align: center;
    height: 5px;
	width: 80%;
	margin-top: 76px;
	margin-bottom: 38px;
}

#ajout {
	background-color: #1D6154;
	color: white;
}

#suppression {
	margin-top: 20px;
	color: red;
}
.direction {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2em;
    align-items: center;
}

/*style de la boite d'ajout image*/
#newimage , #newimage div{
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#newfile {
	opacity: 0;
	position: absolute;
}

#buttonajout {
	font-family: 'Syne';
	display: flex;
	justify-content: center;
	align-items: center;
	color: #306685;
	border-radius: 60px; 
	background-color: #CBD6DC;
	margin-left: 1em;
	padding: 1em;
	min-width: 173px;
}
#preview {
	max-height: 193px;
}